h1 {
  color: #2E5550;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
}

d-title p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.55em;
    grid-column: text;
    text-align: center;
}

d-article p, d-article ul, d-article ol, d-article blockquote {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
}


body {background-color: #E3E2DF;
}

 .distill-site-nav  {
  color: #FFFFFF;
  background-color: #595859;
  font-family:"Monospace", cursive, Sans-Serif ;
   }

.distill-site-header {
  --title-size:       20px;                      
  --text-color:       #FFFFFF;                   
  --text-size:        20px;                      
  --hover-color:      #383838;                   
  --bkgd-color:       #D36060;          
}

